{% extends "vulnerable/base.html" %}
{% load static %}

{%block personalstyles%}
    <link href="{% static 'vulnerable/css/404.css' %}" rel="stylesheet">
{%endblock%}

{%block content%}

    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested url <strong>{{ path|safe }}</strong> page not found!
                </div>
                <div class="error-actions">
                    <a href="{% url 'vulnerable:home' %}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Take Me Home</a>
                    <a href="" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support</a>
                </div>
            </div>
        </div>
    </div>

{%endblock%}