<!DOCTYPE html>

{% load static %}

<html lang="hr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<link rel="icon" href="../../favicon.ico"> -->

    <title>Web security prototype</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vulnerable/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
      <link href="{% static 'vulnerable/css/base-styles.css' %}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
   {%block personalstyles%}{%endblock%}

  </head>

  <body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">

            {%block navbar%}
             <nav class="navbar navbar-custom navbar-fixed-top">
                  <div class="container-fluid">
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                          <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
                            <span class="brand-logo-nav"><img src="{% static 'vulnerable/img/trampolin_logo.png' %}" alt="logo" /></span>Trampolin
                            </a>
                      </div>
                      <div class="navbar-collapse collapse" id="myNavbar">
                          <ul class="nav navbar-nav">
                              <li><a href="{% url 'vulnerable:home' %}">Početna</a></li>
                              <li><a href="{% url 'vulnerable:profile' request_user.pk %}">Profil</a></li>
                              {% if request_user.is_superuser %}
                              <li><a href="{% url 'vulnerable:manage_permissions' %}">Kontrola pristupa</a></li>
                              {% endif %}
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                              <li><button class="btn btn-danger navbar-btn">Restart</button></li>
                              <li><a href="{% url 'vulnerable:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
                          </ul>
                      </div>
                  </div>
              </nav>
            {%endblock%}

            <div class="container">
                {%block content%}{%endblock%}
            </div> <!-- /container -->

            <!-- Footer -->
            <footer>
                <div class="container">
                    <div style="padding:15px;">
                            <img class="center-block" height="60px" src="{% static 'vulnerable/img/fer_grb.png' %}" alt="FER" />
                    </div>
                            <p class="text-center">Trampolin - ranjiva web aplikacija, Fakultet elektotehnike i računarstva<br/>
                            Autor: Andrija Perušić<br/>
                            Mentor: doc. dr. sc. Igor Mekterović, Zavod za primjenjeno računarstvo</p>
                </div>
            </footer>
        </div>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'vulnerable/bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

        {%block personalscripts%}{%endblock%}

  </body>
</html>