{% extends "vulnerable/base.html" %}
{% load static %}

{%block navbar%}
{%endblock%}

{% block content %}
<h2>Users</h2>
<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>is_staff</th>
            <th>is_superuser</th>
            <th>is_active</th>
            <th>Last Login</th>
            <th>Date joined</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.pk }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.is_staff }}</td>
            <td>{{ user.is_superuser }}</td>
            <td>{{ user.is_active }}</td>
            <td>{{ user.last_login }}</td>
            <td>{{ user.date_joined }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Items</h2>
<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Image path</th>
            <th>Owner</th>
            <th>Name</th>
            <th>Description</th>
            <th>Start value</th>
            <th>Publication date</th>
            <th>Expiration date</th>
            <th>Is sold?</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.image }}</td>
            <td>{{ item.owner.pk }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.start_value }}</td>
            <td>{{ item.pub_date }}</td>
            <td>{{ item.exp_date }}</td>
            <td>{{ item.sold_flag}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Offers</h2>
<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Offeror</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for offer in offers %}
        <tr>
            <td>{{ offer.pk }}</td>
            <td>{{ offer.offeror.pk }}</td>
            <td>{{ offer.for_item.pk }}</td>
            <td>{{ offer.amount }}</td>
            <td>{{ offer.comment }}</td>
            <td>{{ offer.date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Sales</h2>
<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Offeror</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for sale in sales %}
        <tr>
            <td>{{ sale.pk }}</td>
            <td>{{ sale.buyer.pk }}</td>
            <td>{{ sale.item.pk }}</td>
            <td>{{ sale.amount }}</td>
            <td>{{ offer.comment }}</td>
            <td>{{ offer.date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{%endblock%}