{% extends "vulnerable/base.html" %}
{% load static %}

{%block content%}
<p class="big-text text-center">Uredi podatke profila</p>
           <form method="post" role="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg_nm">Ime</label>
                            <input class="form-control" type="text" name="reg_Name" id="reg_nm" value="{{user.first_name}}" required/>
                        </div>
                        <div class="form-group">
                            <label for="reg_srnm">Prezime</label>
                            <input class="form-control" type="text" name="reg_Surname" id="reg_srnm" value="{{user.last_name}}" required/>
                        </div>

                       <div class="form-group">
                                    <label for="reg_username">Korisničko ime</label>
                                    <input class="form-control" type="text" name="reg_Username" id="reg_username" value="{{user.username}}" required/>
                       </div>
                       <div class="form-group">
                                    <label for="email">Email adresa</label>
                                    <input class="form-control" type="email" name="reg_Email" id="email" value="{{user.email}}" required/>
                       </div>
                        <div class="form-group">
                            <label for="pwd">Lozinka</label>
                            <input class="form-control" type="password" name="reg_Password" id="pwd" required/>
                        </div>

                        <button id="regbtn" class="btn btn-default center-block" type="submit" name="registration">Osvježi podatke</button>
                    </div>

                </div>
           </form>
{%endblock%}