{% extends "vulnerable/base.html" %}
{% load static %}

{%block personalstyles%}
    <link href="{% static 'vulnerable/css/shop-homepage.css' %}" rel="stylesheet">
{%endblock%}


{%block content%}
        <div class="row">

            <div class="col-md-3">
                <p class="lead">Welcome, {{ request_user.first_name | safe }}!</p>

                <!-- Blog Search Well -->
                <div class="search_well well">
                    <form method="post">
                        <div class="form-group">
                            <label for="search_group" class="sr-only">Search</label>
                            <div class="input-group" id="search_group">
                                <input type="text" class="form-control" name="search_string" placeholder="Search items and users">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" name="search_submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <!-- /.input-group -->
                    <hr>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a data-toggle="pill" href="#menu1">Items</a>
                        </li>
                        <li>
                            <a data-toggle="pill" href="#menu2">Users</a>
                        </li>
                    </ul>



                </div>

            </div>

            <div class="col-md-9">

                <div class="row">

                    <div class="tab-content">
                          <div id="menu1" class="tab-pane fade in active">

                              {% if item_list %}

                              {% for item in item_list %}

                              {% include "vulnerable/item_snippet.html" %}

                              {% endfor %}

                              {% else %}

                                <p>No items that match your search!</p>

                              {% endif %}

                          </div>
                          <div id="menu2" class="tab-pane fade">

                              {% if user_list %}

                              {% for user in user_list %}

                              {% include "vulnerable/user_snippet.html" %}

                              {% endfor %}

                              {% else %}

                                <p>No users that match your search!</p>

                              {% endif %}
                          </div>
                    </div>

                </div>

            </div>

        </div>
{%endblock%}
