<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail item-snippet">
                            <img src="{% if item.image %} {{ item.image.url }} {% else %} http://placehold.it/320x150 {% endif %}" alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{ item.start_value }}kn</h4>
                                <h4><a href="{% url 'vulnerable:detail' item.pk %}">{{ item.name }}</a>
                                </h4>
                                <p>{{ item.description }}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 offers</p>
                                <p>
                                    Expires: {{ item.exp_date }}
                                </p>
                            </div>
                        </div>
                    </div>