{% extends "vulnerable/base.html" %}
{% load static %}

{%block personalstyles%}
    <link href="{% static 'vulnerable/css/shop-item.css' %}" rel="stylesheet">
{%endblock%}


{%block content%}
        <div class="row">
            <div class="col-md-3">

                {% if is_my_item %}
                <h3>Ponuđač</h3>
                    <p class="lead">
                        <a href="{% url 'vulnerable:profile' user.id %}">{{ user.first_name}} {{ user.last_name}}</a>
                            </p>

                {% else %}

                <form method="post" action="{% url 'vulnerable:delete_item' user.pk item.pk %}">

                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Izbriši artikl</button>

                </form>

                {% endif %}
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="{% if item.image %} {{ item.image.url }} {% else %} http://placehold.it/800x300 {% endif %}" alt="">
                    <div class="caption-full">
                        <h2 class="pull-right">{{ item.start_value }}kn</h2>
                        <h2>{{ item.name }}
                        </h2>
                        <p>{{ item.description }}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            Valid until: {{ item.exp_date }}
                        </p>
                    </div>
                </div>

                <div class="well">

                    {% if is_my_item %}

                    <form method="post" action="{% url 'vulnerable:offer' item.pk %}">

                        <div class="form-group">
                            <label for="offer_amount" class="sr-only">Amount</label>
                            <input type="number" class="form-control amount_input" id="offer_amount" name="amount" placeholder="Amount">
                        </div>

                        <div class="form-group">
                            <label for="offer_comment" class="sr-only">Comment</label>
                            <textarea class="form-control comment_area" rows="2" id="offer_comment" name="comment" placeholder="Leave comment" aria-describedby="htmlhelp"></textarea>
                            <small id="htmlhelp" class="form-text text-muted">You can use HTML tags to format your comment.</small>
                        </div>

                        <input type="submit" class="btn btn-success" name="submit" value="Place offer"/>


                    </form>

                    <hr>

                    {% endif %}

                    {% if offers %}

                    {% for offer in offers %}

                    <div class="row">
                        <div class="col-md-12">
                            {{ offer.amount }} kn, <a href="{% url 'vulnerable:profile' offer.offeror.pk %}">{{ offer.offeror }}</a>
                            <span class="pull-right">{{ offer.date }}</span>
                            <p>{{ offer.comment|safe }}</p>
                        </div>
                    </div>

                    <hr>

                    {% endfor %}

                    {% else %}

                    <p>No one made an offer yet! :(</p>

                    {% endif %}

                </div>

            </div>

        </div>
{%endblock%}