{% extends "vulnerable/base.html" %}
{% load static %}

{%block personalstyles%}
    <!-- Custom Fonts -->
    <link href="{% static 'vulnerable/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'vulnerable/css/login_page.css' %}" rel="stylesheet">
{%endblock%}

    {%block navbar%}
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
                     <span class="brand-logo-nav"><img src="{% static 'vulnerable/img/trampolin_logo.png' %}" alt="logo" /></span>Trampolin
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                         <form method="post" action="{% url 'vulnerable:login_backend' %}" class="navbar-form navbar-left">
                          <div class="form-group">
                              <label for="username" class="sr-only">Korisničko ime</label>
                              <input class="form-control" type="text" name="username" id="username" value="" placeholder="Korisničko ime"/>
                          </div>
                          <div class="form-group">
                              <label for="loginpwd" class="sr-only">Lozinka</label>
                              <input class="form-control" type="password" name="password" id="loginpwd" value="" placeholder="Lozinka"/>
                          </div>

                             {% if next %}
                             <input type="hidden" name="next" value="{{ next }}"/>
                             {% endif %}

                          <button type="submit" class="btn btn-default" type="submit" name="login">Prijava</button>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {%endblock%}

    {%block content%}

    <div class="intro">
        <div class="intro-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img height="100px" src="{% static 'vulnerable/img/trampolin_logo.png' %}" alt="logo" />
                        <h1 class="brand-heading">Trampolin</h1>
                    </div>
                </div>
        </div>
    </div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="row">
        <div class="col-md-6">
            <p class="big-text">
                Trampolin je web aplikacija za javnu prodaju izrađena u Django radnom okviru jezika Python.
                Aplikacija je dizajnirana da bude namjerno ranjiva na najrasprostranjenije ranjivosti današnjih web aplikacija
                prema <a href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project">OWASP Top-10 2013 projektu</a>.
            </p>
            <p class="big-text">
                Registrirajte se i pokušajte pronaći što više ranjivosti. Kao pomoć pri traženju ranjivosti, klikom na logo aplikacije u
                gornjem lijevom kutu otvara se izbornik sa sugestijama i parcijalnim riješenjima.
            </p>
            <p class="big-text">
                Uspješno hakiranje!
            </p>
        </div>
        <div class="col-md-6">
            <p class="big-text text-center">Registracija korisnika</p>
           <form method="post" action="{% url 'vulnerable:registration' %}" >
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg_nm" class="sr-only">Ime</label>
                            <input class="form-control" type="text" id="id_first_name" name="first_name" placeholder="Ime" required/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg_srnm" class="sr-only">Prezime</label>
                            <input class="form-control" type="text" id="id_last_name" name="last_name" placeholder="Prezime" required/>
                        </div>
                    </div>
                </div>
               <div class="form-group">
                            <label for="reg_username" class="sr-only">Username</label>
                            <input class="form-control" type="text" id="id_username" name="username" placeholder="Korisničko ime" required/>
               </div>
               <div class="form-group">
                            <label for="email" class="sr-only">Email address</label>
                            <input class="form-control" type="email" id="id_email" name="email" placeholder="Email adresa" required/>
               </div>
               <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="pwd" class="sr-only">Lozinka</label>
                            <input class="form-control" type="password" id="id_password" name="password" value="" placeholder="Lozinka" required/>
                        </div>
                    </div>
                  <!--  <div class="col-sm-6">
                        <div class="form-group">
                            <label for="confirmpwd" class="sr-only">Potvrdi lozinku</label>
                            <input class="form-control" type="password" name="reg_Password" id="confirmpwd" value="" placeholder="Potvrdi lozinku"/>
                        </div>
                    </div> -->
                </div>

                <button id="regbtn" class="btn btn-default center-block" type="submit" name="registration">Registriraj se</button>
           </form>
        </div>
    </div>

    {%endblock%}

    {%block personalscripts%}

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'vulnerable/js/login_page.js' %}"></script>

    {%endblock%}

