{% extends "vulnerable/base.html" %}
{% load static %}

{%block personalstyles%}
    <link href="{% static 'vulnerable/css/blog-home.css' %}" rel="stylesheet">
{%endblock%}

{%block content%}
    <form method="post" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label>Korisnik</label>
                <select name="userid" id="userid">
                    {% for user in users %}
                        <option value="{{user.id}}">{{user.first_name}} {{user.last_name}} ({{user.username}})</option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <label>Razina pristupa</label><br />
                <input type="radio" name="accesslevel" id="accesslevel" value="admin">Administrator<br />
                <input type="radio" name="accesslevel" id="accesslevel" value="regular" checked>Regularni korisnik<br />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Primjeni</button>
        </div>
    </form>
{% endblock %}