{% extends "vulnerable/base.html" %}
{% load static %}

{%block personalstyles%}
    <link href="{% static 'vulnerable/css/blog-home.css' %}" rel="stylesheet">
{%endblock%}


{%block content%}

{% if user %}

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <hr>
                <div class="row">
                    <div class="col-sm-11">
                        <h2>{{ user.first_name }} {{user.last_name}}</h2>
                        <p class="lead">
                            {{ user.username }}
                        </p>
                        <p><span class="glyphicon glyphicon-time"></span> Joined on {{ user.date_joined }}, 23 items posted, 15 items bought</p>
                    </div>
                    {% if is_my_page %}
                    <div class="col-sm-1">
                        <a href="/edit_profile/{{ user.pk }}" class="btn btn-link pull-right" role="button">Uredi osobne podatke</a>
                    </div>
                    {% endif %}

                </div>

                <div class="col-sm-12">
                    <hr>
                </div>

                <div class="row">

                    {% if item_list %}

                    {% for item in item_list %}

                    {% include "vulnerable/item_snippet.html" %}

                    {% endfor %}

                    {% else %}

                    <p>No items yet!</p>

                    {% endif %}

                </div>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="search_well well">
                    <h4>Search your items</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Dodaj artikl</h4>
                     <form method="post" action="{% url 'vulnerable:create_item' %}" enctype="multipart/form-data">

                         <div class="form-group">
                             <label for="item_name" class="sr-only">Naziv artikla</label>
                             <input type="text" class="form-control" id="item_name" name="name" placeholder="Naziv">
                         </div>

                         <div class="form-group">
                            <!-- <label for="item_img" class="sr-only">Item image</label>
                             <input type="file" class="form-control-file" id="item_img" aria-describedby="fileHelp">
                             <small id="fileHelp" class="form-text text-muted">Upload image representing best representing your item.</small> -->
                            {% autoescape off %}
                             {{ form.file }}
                            {% endautoescape %}
                             <small id="fileHelp" class="form-text text-muted">Učitaj fotografiju koja najbolje reprezentira tvoj artikl.</small>

                         </div>

                         <div class="form-group">
                             <label for="item_desc" class="sr-only">Opis</label>
                             <textarea type="text" class="form-control" id="item_desc" name="description" placeholder="Opis" aria-describedby="deschelp"></textarea>
                             <small id="deschelp" class="form-text text-muted">Kratak opis tvog artikla.</small>
                         </div>

                         <div class="form-group">
                             <label for="item_value" class="sr-only">Početna vrijednost</label>
                             <input type="number" class="form-control" id="item_value" name="value" placeholder="Početna vrijednost">
                         </div>

                         <div class="form-group">
                             <label for="item_valid" class="sr-only">Period valjanosti</label>
                             <input type="number" class="form-control" id="item_valid" name="days" placeholder="Trajanje ponude" aria-describedby="dayshelp">
                             <small id="dayshelp" class="form-text text-muted">Koliko dana će ponuda artikla biti dostupna?</small>
                         </div>

                         <input type="submit" class="btn btn-success" name="submit" value="Dodaj"/>

                     </form>
                </div>

            </div>
        </div>
            <!-- /.row -->

{% endif %}

{%endblock%}