<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4><a href="{% url 'vulnerable:profile' user.pk %}">{{ user.first_name }} {{ user.last_name }}</a>
                                </h4>
                                <p class="lead">{{ user.username }}</p>
                            </div>
                            <div class="ratings">
                                <p>8 items, 4 sold</p>
                            </div>
                        </div>
                    </div>