body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

.error-template {
    padding: 40px 15px;
    text-align: center;
    }

.error-actions {
    margin-top:15px;
    margin-bottom:15px;
    }

.error-actions .btn {
    margin-right:10px;
    }