
body {
 /* padding-top: 40px;
  padding-bottom: 40px;
  background: url('/res/picnic.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.form-signin {
  max-width: 420px;
  padding: 20px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.loginwell {
    margin-left: 40px;
    margin-right: 40px;
    -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.signinheading {
    padding-bottom: 20px;
    text-align: center;
}

.well {
    background-color: rgba(245, 245, 245, 0.5);
    border-width: 0;
}
